*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important;
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    -webkit-transition-delay: 0s !important;
            transition-delay: 0s !important;
    -webkit-transition-duration: 0s !important;
            transition-duration: 0s !important;
  }
}

table {
  border-collapse: collapse;
  table-layout: auto;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

caption {
  caption-side: top;
  font-weight: bold;
  margin-top: 0;
  text-align: left;
}

figure {
  max-width: 100%;
}

figcaption {
  font-size: .75em;
  line-height: 2;
  text-align: left;
}

address {
  font-style: normal;
}

summary {
  cursor: pointer;
}

summary::marker {
  color: burlywood;
}

fieldset {
  border-radius: 5px;
}

legend {
  color: #777;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

button {
  border-radius: 0;
}

button:focus {
  outline: none;
}

input:focus {
  outline: none;
}

/*
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  cursor: default;
  font-size: 16px;
  -moz-tab-size: 4;
       tab-size: 4;
  -o-tab-size: 4;
  line-height: 1.5;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*
 * Fill the viewport block in all browsers.
 * Remove the margin in all browsers.
*/
body {
  margin: 0;
  block-size: stretch;
  block-size: -moz-available;
  block-size: -webkit-fill-available;
}

/*
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
*/
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/*
 * Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
 * Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/*
 * Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
 * Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/*
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
*/
button,
input {
  overflow: visible;
}

/*
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  text-transform: none;
}

/*
 * Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/*
 * Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*
 * Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*
 * Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
*/
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/*
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/*
 * Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/*
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
*/
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/*
 * Remove the inner padding in Chrome and Safari on macOS.
*/
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 10+.
*/
template {
  display: none;
}

/*
 * Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

/*
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Add typography inheritance in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
*/
button, input, select, textarea {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: 1.15;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

/*
 * Change the inconsistent appearance in all browsers (opinionated).
*/
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") no-repeat right center/1em;
  border-radius: 0;
  padding-right: 1em;
}

/*
 * Don't show the arrow for multiple choice selects
*/
select[multiple] {
  background-image: none;
}

/*
 * Remove the border and padding in all browsers (opinionated).
*/
[type="color"] {
  border-width: 0;
  padding: 0;
}

/*
 * Restrict sizing to the page width in all browsers (opinionated).
*/
iframe,
img,
input,
video,
select,
textarea {
  height: auto;
  max-width: 100%;
}

/*
 * Change the alignment on media elements in all browsers (opinionated).
*/
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove the border on iframes in all browsers (opinionated).
*/
iframe {
  border-style: none;
}

/*
 * Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
  * Correct the text style of placeholders in Chrome, Edge, and Safari.
*/
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/*
  * Remove the inner padding in Chrome, Edge, and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
  * 1. Correct the inability to style upload buttons in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
  * Add the correct styles in Safari.
*/
dialog {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

/*
  * Add the correct display in Safari.
*/
details > summary:first-of-type {
  display: list-item;
}

/*
  * Change the cursor on control elements in all browsers (opinionated).
*/
[aria-controls] {
  cursor: pointer;
}

b {
  color: red;
}

@media (min-width: 1400px) {
  b {
    color: blue;
  }
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.p-fixed {
  position: fixed;
}

.p-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.thumbnail {
  width: 111px;
  height: 111px;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.me-0 {
  margin-right: 0 !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.m-2 {
  margin: 0.33333rem !important;
}

.mt-2 {
  margin-top: 0.33333rem !important;
}

.mb-2 {
  margin-bottom: 0.33333rem !important;
}

.ms-2 {
  margin-left: 0.33333rem !important;
}

.me-2 {
  margin-right: 0.33333rem !important;
}

.my-2 {
  margin-top: 0.33333rem !important;
  margin-bottom: 0.33333rem !important;
}

.mx-2 {
  margin-left: 0.33333rem !important;
  margin-right: 0.33333rem !important;
}

.m-3 {
  margin: 0.5rem !important;
}

.mt-3 {
  margin-top: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 0.5rem !important;
}

.ms-3 {
  margin-left: 0.5rem !important;
}

.me-3 {
  margin-right: 0.5rem !important;
}

.my-3 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.mx-3 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.m-4 {
  margin: 1rem !important;
}

.mt-4 {
  margin-top: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.ms-4 {
  margin-left: 1rem !important;
}

.me-4 {
  margin-right: 1rem !important;
}

.my-4 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mx-4 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.m-5 {
  margin: 2rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.ms-5 {
  margin-left: 2rem !important;
}

.me-5 {
  margin-right: 2rem !important;
}

.my-5 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mx-5 {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}

.m-6 {
  margin: 3rem !important;
}

.mt-6 {
  margin-top: 3rem !important;
}

.mb-6 {
  margin-bottom: 3rem !important;
}

.ms-6 {
  margin-left: 3rem !important;
}

.me-6 {
  margin-right: 3rem !important;
}

.my-6 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mx-6 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.m-7 {
  margin: 4rem !important;
}

.mt-7 {
  margin-top: 4rem !important;
}

.mb-7 {
  margin-bottom: 4rem !important;
}

.ms-7 {
  margin-left: 4rem !important;
}

.me-7 {
  margin-right: 4rem !important;
}

.my-7 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.mx-7 {
  margin-left: 4rem !important;
  margin-right: 4rem !important;
}

.mx-auto {
  margin: auto !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.33333rem !important;
}

.pb-2 {
  padding-bottom: 0.33333rem !important;
}

.ps-2 {
  padding-left: 0.33333rem !important;
}

.pe-2 {
  padding-right: 0.33333rem !important;
}

.py-2 {
  padding-top: 0.33333rem !important;
  padding-bottom: 0.33333rem !important;
}

.px-2 {
  padding-left: 0.33333rem !important;
  padding-right: 0.33333rem !important;
}

.pt-3 {
  padding-top: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 0.5rem !important;
}

.ps-3 {
  padding-left: 0.5rem !important;
}

.pe-3 {
  padding-right: 0.5rem !important;
}

.py-3 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.px-3 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.pt-4 {
  padding-top: 1rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}

.ps-4 {
  padding-left: 1rem !important;
}

.pe-4 {
  padding-right: 1rem !important;
}

.py-4 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.px-4 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}

.ps-5 {
  padding-left: 2rem !important;
}

.pe-5 {
  padding-right: 2rem !important;
}

.py-5 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

.px-5 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.pt-6 {
  padding-top: 3rem !important;
}

.pb-6 {
  padding-bottom: 3rem !important;
}

.ps-6 {
  padding-left: 3rem !important;
}

.pe-6 {
  padding-right: 3rem !important;
}

.py-6 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-6 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.pt-7 {
  padding-top: 4rem !important;
}

.pb-7 {
  padding-bottom: 4rem !important;
}

.ps-7 {
  padding-left: 4rem !important;
}

.pe-7 {
  padding-right: 4rem !important;
}

.py-7 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.px-7 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.bg-light {
  background-color: #f0f2f5;
}

.bg-dark {
  background-color: #404040;
}

.bg-winter {
  background-color: #33bbff;
}

.bg-link {
  background-color: #004cff;
}

.bg-warning {
  background-color: #ffbf00;
}

.bg-danger {
  background-color: #d92644;
}

.bg-spring {
  background-color: #009966;
}

.bg-transparent {
  background-color: transparent;
}

.txt-light {
  color: #f0f2f5;
}

.txt-dark {
  color: #404040;
}

.txt-winter {
  color: #33bbff;
}

.txt-link {
  color: #004cff;
}

.txt-warning {
  color: #ffbf00;
}

.txt-danger {
  color: #d92644;
}

.txt-spring {
  color: #009966;
}

.txt-transparent {
  color: transparent;
}

.float-start {
  float: left;
}

.float-end {
  float: right;
}

.float-none {
  float: none;
}

.size-1 {
  font-size: 60px;
}

.size-2 {
  font-size: 50px;
}

.size-3 {
  font-size: 40px;
}

.size-4 {
  font-size: 30px;
}

.size-5 {
  font-size: 20px;
}

.txt-start {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-end {
  text-align: right;
}

/*
 * Use the default user interface font in all browsers (opinionated).
*/
html {
  font-family: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
 * Use the default monospace user interface font in all browsers (opinionated).
 */
code,
kbd,
samp,
pre {
  font-family: ui-monospace, "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: Lato;
  src: url(../../fonts/lato-semibold.ttf);
  src: url(../../fonts/lato-semibold.woff);
  src: url(../../fonts/lato-semibold.woff2);
}

@font-face {
  font-family: "Zilla Slab";
  src: url(../../fonts/ZillaSlab-Regular.ttf);
  src: url(../../fonts/ZillaSlab-Regular.woff);
  src: url(../../fonts/ZillaSlab-Regular.woff2);
}

.btn, .btn--outline, .btn--secondary, .btn--rounded, .btn--circular {
  height: 2.5rem;
  width: 9.375rem;
  margin: 0 0 1rem 0;
  line-height: 1.5rem;
  padding: 0.312rem 0.625rem;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  overflow: hidden;
  font-weight: normal;
  font-size: 1.125rem;
  font-family: Lato;
  text-shadow: none;
  text-align: center;
  text-transform: none;
  text-decoration: none;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  color: #f0f2f5;
  background-color: transparent;
  -webkit-transition: all 30ms linear;
  transition: all 30ms linear;
}

.btn {
  background-color: #004cff;
}

.btn:focus {
  outline: 3px solid rgba(0, 76, 255, 0.397);
}

.btn:disabled, .btn.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}

.btn:disabled:focus, .btn.disabled:focus {
  outline: none;
}

.btn--outline {
  color: #004cff;
  border: 1px solid #004cff;
  background-color: transparent;
}

.btn--outline:hover {
  color: #f0f2f5;
  background-color: #004cff;
}

.btn--outline:focus {
  outline: 3px solid rgba(0, 76, 255, 0.397);
}

.btn--secondary {
  color: #404040;
  background-color: #adb5bd;
}

.btn--secondary:focus {
  outline: 3px solid #dee2e6;
}

.btn--rounded {
  border-radius: 20px;
  background-color: #004cff;
}

.btn--rounded:focus {
  outline: 3px solid rgba(0, 76, 255, 0.397);
}

.btn--circular {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: xx-large;
  background-color: #004cff;
}

.btn--circular:focus {
  outline: 3px solid rgba(0, 76, 255, 0.397);
}

.container {
  max-width: 80%;
  padding: 0 1rem;
}

.container-xxs {
  max-width: 100%;
}

@media (min-width: 500px) {
  .container-xxs {
    max-width: 80%;
  }
}

.container-xs {
  max-width: 100%;
}

@media (min-width: 600px) {
  .container-xs {
    max-width: 80%;
  }
}

.container-sm {
  max-width: 100%;
}

@media (min-width: 700px) {
  .container-sm {
    max-width: 80%;
  }
}

.container-md {
  max-width: 100%;
}

@media (min-width: 1000px) {
  .container-md {
    max-width: 80%;
  }
}

.container-lg {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container-lg {
    max-width: 80%;
  }
}

.container-xl {
  max-width: 100%;
}

@media (min-width: 1400px) {
  .container-xl {
    max-width: 80%;
  }
}

.container-xxl {
  max-width: 100%;
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 80%;
  }
}

.col-1 {
  width: 8.33333%;
}

.offset-1 {
  margin-left: 8.33333%;
}

@media (max-width: 500px) {
  .col-xxs-1 {
    width: 8.33333%;
  }
  .offset-xxs-1 {
    margin-left: 8.33333%;
  }
}

@media (min-width: 500px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .offset-xs-1 {
    margin-left: 8.33333%;
  }
}

@media (min-width: 600px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .offset-sm-1 {
    margin-left: 8.33333%;
  }
}

@media (min-width: 700px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .offset-md-1 {
    margin-left: 8.33333%;
  }
}

@media (min-width: 1000px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .offset-lg-1 {
    margin-left: 8.33333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333%;
  }
  .offset-xl-1 {
    margin-left: 8.33333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.33333%;
  }
  .offset-xxl-1 {
    margin-left: 8.33333%;
  }
}

.col-2 {
  width: 16.66667%;
}

.offset-2 {
  margin-left: 16.66667%;
}

@media (max-width: 500px) {
  .col-xxs-2 {
    width: 16.66667%;
  }
  .offset-xxs-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 500px) {
  .col-xs-2 {
    width: 16.66667%;
  }
  .offset-xs-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 600px) {
  .col-sm-2 {
    width: 16.66667%;
  }
  .offset-sm-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 700px) {
  .col-md-2 {
    width: 16.66667%;
  }
  .offset-md-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 1000px) {
  .col-lg-2 {
    width: 16.66667%;
  }
  .offset-lg-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-2 {
    width: 16.66667%;
  }
  .offset-xl-2 {
    margin-left: 16.66667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-2 {
    width: 16.66667%;
  }
  .offset-xxl-2 {
    margin-left: 16.66667%;
  }
}

.col-3 {
  width: 25%;
}

.offset-3 {
  margin-left: 25%;
}

@media (max-width: 500px) {
  .col-xxs-3 {
    width: 25%;
  }
  .offset-xxs-3 {
    margin-left: 25%;
  }
}

@media (min-width: 500px) {
  .col-xs-3 {
    width: 25%;
  }
  .offset-xs-3 {
    margin-left: 25%;
  }
}

@media (min-width: 600px) {
  .col-sm-3 {
    width: 25%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
}

@media (min-width: 700px) {
  .col-md-3 {
    width: 25%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
}

@media (min-width: 1000px) {
  .col-lg-3 {
    width: 25%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    width: 25%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-3 {
    width: 25%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
}

.col-4 {
  width: 33.33333%;
}

.offset-4 {
  margin-left: 33.33333%;
}

@media (max-width: 500px) {
  .col-xxs-4 {
    width: 33.33333%;
  }
  .offset-xxs-4 {
    margin-left: 33.33333%;
  }
}

@media (min-width: 500px) {
  .col-xs-4 {
    width: 33.33333%;
  }
  .offset-xs-4 {
    margin-left: 33.33333%;
  }
}

@media (min-width: 600px) {
  .col-sm-4 {
    width: 33.33333%;
  }
  .offset-sm-4 {
    margin-left: 33.33333%;
  }
}

@media (min-width: 700px) {
  .col-md-4 {
    width: 33.33333%;
  }
  .offset-md-4 {
    margin-left: 33.33333%;
  }
}

@media (min-width: 1000px) {
  .col-lg-4 {
    width: 33.33333%;
  }
  .offset-lg-4 {
    margin-left: 33.33333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-4 {
    width: 33.33333%;
  }
  .offset-xl-4 {
    margin-left: 33.33333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-4 {
    width: 33.33333%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333%;
  }
}

.col-5 {
  width: 41.66667%;
}

.offset-5 {
  margin-left: 41.66667%;
}

@media (max-width: 500px) {
  .col-xxs-5 {
    width: 41.66667%;
  }
  .offset-xxs-5 {
    margin-left: 41.66667%;
  }
}

@media (min-width: 500px) {
  .col-xs-5 {
    width: 41.66667%;
  }
  .offset-xs-5 {
    margin-left: 41.66667%;
  }
}

@media (min-width: 600px) {
  .col-sm-5 {
    width: 41.66667%;
  }
  .offset-sm-5 {
    margin-left: 41.66667%;
  }
}

@media (min-width: 700px) {
  .col-md-5 {
    width: 41.66667%;
  }
  .offset-md-5 {
    margin-left: 41.66667%;
  }
}

@media (min-width: 1000px) {
  .col-lg-5 {
    width: 41.66667%;
  }
  .offset-lg-5 {
    margin-left: 41.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-5 {
    width: 41.66667%;
  }
  .offset-xl-5 {
    margin-left: 41.66667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-5 {
    width: 41.66667%;
  }
  .offset-xxl-5 {
    margin-left: 41.66667%;
  }
}

.col-6 {
  width: 50%;
}

.offset-6 {
  margin-left: 50%;
}

@media (max-width: 500px) {
  .col-xxs-6 {
    width: 50%;
  }
  .offset-xxs-6 {
    margin-left: 50%;
  }
}

@media (min-width: 500px) {
  .col-xs-6 {
    width: 50%;
  }
  .offset-xs-6 {
    margin-left: 50%;
  }
}

@media (min-width: 600px) {
  .col-sm-6 {
    width: 50%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
}

@media (min-width: 700px) {
  .col-md-6 {
    width: 50%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
}

@media (min-width: 1000px) {
  .col-lg-6 {
    width: 50%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
}

@media (min-width: 1200px) {
  .col-xl-6 {
    width: 50%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-6 {
    width: 50%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
}

.col-7 {
  width: 58.33333%;
}

.offset-7 {
  margin-left: 58.33333%;
}

@media (max-width: 500px) {
  .col-xxs-7 {
    width: 58.33333%;
  }
  .offset-xxs-7 {
    margin-left: 58.33333%;
  }
}

@media (min-width: 500px) {
  .col-xs-7 {
    width: 58.33333%;
  }
  .offset-xs-7 {
    margin-left: 58.33333%;
  }
}

@media (min-width: 600px) {
  .col-sm-7 {
    width: 58.33333%;
  }
  .offset-sm-7 {
    margin-left: 58.33333%;
  }
}

@media (min-width: 700px) {
  .col-md-7 {
    width: 58.33333%;
  }
  .offset-md-7 {
    margin-left: 58.33333%;
  }
}

@media (min-width: 1000px) {
  .col-lg-7 {
    width: 58.33333%;
  }
  .offset-lg-7 {
    margin-left: 58.33333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-7 {
    width: 58.33333%;
  }
  .offset-xl-7 {
    margin-left: 58.33333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-7 {
    width: 58.33333%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333%;
  }
}

.col-8 {
  width: 66.66667%;
}

.offset-8 {
  margin-left: 66.66667%;
}

@media (max-width: 500px) {
  .col-xxs-8 {
    width: 66.66667%;
  }
  .offset-xxs-8 {
    margin-left: 66.66667%;
  }
}

@media (min-width: 500px) {
  .col-xs-8 {
    width: 66.66667%;
  }
  .offset-xs-8 {
    margin-left: 66.66667%;
  }
}

@media (min-width: 600px) {
  .col-sm-8 {
    width: 66.66667%;
  }
  .offset-sm-8 {
    margin-left: 66.66667%;
  }
}

@media (min-width: 700px) {
  .col-md-8 {
    width: 66.66667%;
  }
  .offset-md-8 {
    margin-left: 66.66667%;
  }
}

@media (min-width: 1000px) {
  .col-lg-8 {
    width: 66.66667%;
  }
  .offset-lg-8 {
    margin-left: 66.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-8 {
    width: 66.66667%;
  }
  .offset-xl-8 {
    margin-left: 66.66667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-8 {
    width: 66.66667%;
  }
  .offset-xxl-8 {
    margin-left: 66.66667%;
  }
}

.col-9 {
  width: 75%;
}

.offset-9 {
  margin-left: 75%;
}

@media (max-width: 500px) {
  .col-xxs-9 {
    width: 75%;
  }
  .offset-xxs-9 {
    margin-left: 75%;
  }
}

@media (min-width: 500px) {
  .col-xs-9 {
    width: 75%;
  }
  .offset-xs-9 {
    margin-left: 75%;
  }
}

@media (min-width: 600px) {
  .col-sm-9 {
    width: 75%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
}

@media (min-width: 700px) {
  .col-md-9 {
    width: 75%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
}

@media (min-width: 1000px) {
  .col-lg-9 {
    width: 75%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
}

@media (min-width: 1200px) {
  .col-xl-9 {
    width: 75%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-9 {
    width: 75%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
}

.col-10 {
  width: 83.33333%;
}

.offset-10 {
  margin-left: 83.33333%;
}

@media (max-width: 500px) {
  .col-xxs-10 {
    width: 83.33333%;
  }
  .offset-xxs-10 {
    margin-left: 83.33333%;
  }
}

@media (min-width: 500px) {
  .col-xs-10 {
    width: 83.33333%;
  }
  .offset-xs-10 {
    margin-left: 83.33333%;
  }
}

@media (min-width: 600px) {
  .col-sm-10 {
    width: 83.33333%;
  }
  .offset-sm-10 {
    margin-left: 83.33333%;
  }
}

@media (min-width: 700px) {
  .col-md-10 {
    width: 83.33333%;
  }
  .offset-md-10 {
    margin-left: 83.33333%;
  }
}

@media (min-width: 1000px) {
  .col-lg-10 {
    width: 83.33333%;
  }
  .offset-lg-10 {
    margin-left: 83.33333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-10 {
    width: 83.33333%;
  }
  .offset-xl-10 {
    margin-left: 83.33333%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-10 {
    width: 83.33333%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333%;
  }
}

.col-11 {
  width: 91.66667%;
}

.offset-11 {
  margin-left: 91.66667%;
}

@media (max-width: 500px) {
  .col-xxs-11 {
    width: 91.66667%;
  }
  .offset-xxs-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 500px) {
  .col-xs-11 {
    width: 91.66667%;
  }
  .offset-xs-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 600px) {
  .col-sm-11 {
    width: 91.66667%;
  }
  .offset-sm-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 700px) {
  .col-md-11 {
    width: 91.66667%;
  }
  .offset-md-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1000px) {
  .col-lg-11 {
    width: 91.66667%;
  }
  .offset-lg-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1200px) {
  .col-xl-11 {
    width: 91.66667%;
  }
  .offset-xl-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-11 {
    width: 91.66667%;
  }
  .offset-xxl-11 {
    margin-left: 91.66667%;
  }
}

.col-12 {
  width: 100%;
}

.offset-12 {
  margin-left: 100%;
}

@media (max-width: 500px) {
  .col-xxs-12 {
    width: 100%;
  }
  .offset-xxs-12 {
    margin-left: 100%;
  }
}

@media (min-width: 500px) {
  .col-xs-12 {
    width: 100%;
  }
  .offset-xs-12 {
    margin-left: 100%;
  }
}

@media (min-width: 600px) {
  .col-sm-12 {
    width: 100%;
  }
  .offset-sm-12 {
    margin-left: 100%;
  }
}

@media (min-width: 700px) {
  .col-md-12 {
    width: 100%;
  }
  .offset-md-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1000px) {
  .col-lg-12 {
    width: 100%;
  }
  .offset-lg-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-12 {
    width: 100%;
  }
  .offset-xl-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1400px) {
  .col-xxl-12 {
    width: 100%;
  }
  .offset-xxl-12 {
    margin-left: 100%;
  }
}
/*# sourceMappingURL=main.css.map */